.Tabs__item {
  display: none;
}

.Tabs__item-selected {
  display: block;
}

.Tabs__link {
  box-sizing: border-box;
  padding: 10px 15px;
  margin: 10px;
  background-color: #324376;
  color: ghostwhite;
  border-radius: 5px;
}

.Tabs__link-selected {
  background-color: #586ba4;
  border: solid 1px #324376;
  border-radius: 5px;
}