@import './components/Nav/Nav.css';
@import './components/Header/Header.css';
@import './components/Section/Section.css';
@import './components/Box/Box.css';
@import './components/Tabs/Tabs.css';
@import './components/List/List.css';

body {
        /* what is border-box? */
	box-sizing: border-box;
        /* why a min width of 300px? */
	min-width: 300px;
	margin: 0;
}
