.Box__title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

.Box--gray {
  background-color: gray;
}

.Box--blue {
  background-color: blue;
  color: white;
}

.Box--green {
  background-color: green;
}

.Box--red {
  background-color: red;
}

.Box--orange {
  background-color: orange;
}

.Box--purple {
  background-color: purple;
  color: white;
}