.Box 
{
  border-radius: 10px;
}

.Box__title {
	font-size: 1.5em;
	font-weight: bold;
  margin-bottom: 15px;
  padding: 0;
}

.Box--yellow {
  background-color: #f5dd90;
  padding: 15px;
}

.Box--orange {
  background-color: #f68e5f;
  padding: 15px;
}

.Box--red {
  background-color: #f76c5e;
  padding: 15px;
}